.main {

}

.main_title {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    resize: none;
    font-family: inherit;
    flex: 1;
}

.main_content {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    padding: 1rem;
    resize: none;
    font-family: inherit;
}