.main {
    width: 70%;
    height: 100vh;
}

.main_edit,
.main_preview {
    height: 50vh;
}

/* edit */
    .main_edit {
    padding: 25px;
}

.main_edit_title, .main_edit_content {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 10px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
}
.main_edit_title {
    height: 50px;
    font-size: 2rem;
}

/* preview */
.main_preview {
    border-top: 1px solid #ddd;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.02);
}

.main_preview_title {
    padding: 25px 25px 0 25px;
    margin: 0;
}

.markdown_preview {
    padding: 0 25px 25px 25px;
    font-size: 1rem;
    line-height: 2rem;
}