.notePreview {
    cursor: pointer;
}

.notePreview_title {
}

.notePreview_title > strong {
    font-size: 1.2em;
    float : left;
}

.notePreview_title > button {
    font-size: 1.2em;
    color : red;
    background-color: red;
    float : right;
}

.notePreview_content {
    font-size: 1em;
}

.notePreview_lastModified {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}